# ===========================================
# 📋 Шаблон переменных окружения
# Скопируйте этот файл в .env и заполните значения
# ===========================================

# 🌍 Окружение
NODE_ENV=development
PORT=5000
BASE_URL=http://localhost:5000
BASE_URL_FRONT=http://localhost:5173
FILE_REG_PATH=путь_к_папке_аватарок._Например,_у_меня_C:\\Project\\mern-server\\uploads\\avatars
FILE_CATEGORY_PATH=путь_к_папке_карточек_категорий._C:\\Project\\mern-server\\categoryFiles
FILE_POST_PATH=путь_к_папке_картинок_постов._C:\\Project\\mern-server\\postFiles
FILE_PLUG_PATH=путь_к_папке_к_картинке-заставке,_если_какая-то_картинка_не_загрузилась_C:\\Project\\mern-server\\plug

# 🔐 Сессии
SESSION_SECRET=ваш_секретный_ключ_минимум_32_символа

# 🗄️ MongoDB
MONGO_URI=mongodb://localhost:27017/имя_базы_данных

# 📧 Email
EMAIL_PROGRAMM=your_email@example.com_с_которого_отсылаются_письма_с_сообщениями
EMAIL_PASSWORD=your_email_password_не_пароль_к_почтовому_ящику,_а_доступ_к_почтовому_ящику_с_помощью_почтовых_клиентов 

# 🔑 JWT
JWT_SECRET=ваш_jwt_секретный_ключ

# 🖼️ Загрузка файлов
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=2097152

# 🔑 RECAPTCHA или другое
RECAPTCHA_SECRET_KEY=ваш_секретный_ключ_40_символов от GOOGLE RECAPTCHA